# Entorno virtual
venv/
.venv/

# Python cache (IMPORTANTE)
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Streamlit local
.streamlit/

# Archivos sensibles
.env
*.key
*.pem

# Archivos grandes de datos (no subir a GitHub/HF)
data/raw/*.pdf
data/raw/*.docx
data/processed/*_processed_embeddings.json

# LangGraph (no usado)
langgraph.json
.graph/

# Logs
*.log

# OS
.DS_Store
Thumbs.db